export(phylo.trace)

importFrom(phytools, make.transparent, plotTree, bind.tip)
importFrom(graphics, plot.new, par, plot.window, rasterImage, locator)
importFrom(utils, flush.console)
importFrom(stats, setNames)
