export(phylo.tracer)

importFrom(ape, drop.tip)
importFrom(phytools, make.transparent, plotTree, get.treepos, bind.tip, nodeheight)
importFrom(graphics, plot.new, par, plot.window, rasterImage, locator)
importFrom(utils, flush.console)
importFrom(stats, setNames)
